* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#emp {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: left;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

thead {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#emp th {
  padding: 5px 10px;
  cursor: pointer;
  width: 25%;
}

#emp th .sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5em;
  height: 35px;
}

#emp th .sort .icons {
  height: 100%;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

#emp th .sort .icons span {
  display: inline-flex;
  position: relative;
  height: 100%;
}

#emp th .sort span:first-of-type i {
  color: rgb(45, 231, 45);
  /* background-color: green; */
  position: absolute;
  right: 30px;
  bottom: 0px;
}

#emp th .sort span:nth-of-type(2) i {
  color: rgb(219, 76, 76);
  /* background-color: red; */
  position: absolute;
  right: 5px;
  bottom: 11px;
}

#emp tr {
  border-bottom: 1px solid rgb(99, 98, 98);
}

#emp tr:nth-child(even) {
  background-color: #d4d1d1;
}

#emp td {
  padding: 10px;
  font-size: 1.2em;
}

/* stack */
.stack {
  margin-top: 50px;
  height: 300px;
  padding: 40px 80px;
  background-color: #d4d1d1;
}

.stack span {
  display: inline-block;
  width: 75px;
  height: 35px;
  line-height: 30px;
  margin-top: 50px;
  text-align: center;
  border: 1px solid black;
  border-radius: 6px;
  position: relative;
  margin-left: 35px;
}

.stack span:not(:last-of-type)::after {
  position: absolute;
  content: "=>";
  right: -30px;
}

.stack span {
  border: 1px solid rgb(37, 121, 200);
}

.stack span:last-of-type {
  border: 1px solid rgb(200, 67, 37);
}

.stack span:last-of-type::before {
  position: absolute;
  content: "TOP";
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  font-size: 0.8em;
  color: rgb(200, 67, 37);
}

.stack input {
  margin-top: 30px;
  padding: 10px 15px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 1.1em;
  outline: none;
}

.stack button {
  margin-top: 30px;
  padding: 15px 25px;
  border-radius: 10px;
  background: rgb(114, 190, 51);
  outline: none;
  border: none;
}

.stack button:nth-of-type(2) {
  background: rgb(200, 67, 37);
}

.stack button:nth-of-type(3) {
  background: rgb(37, 121, 200);
}
